<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title></title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/index.css' %}"
    />
  </head>

  <body>
    <div class="container">
      <div class="header">
        <div class="navigation">
          <ul class="sitenav">
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="#news">News</a></li>
            <li><a href="#contact">Contact</a></li>
            <li><a href="#about">About</a></li>
          </ul>

          <ul class="usernav">
            <li><a href="#signin">signin</a></li>
            <li><a href="#register">register</a></li>
          </ul>

          <form class="search" role="search">
            <input class="search" type="search" placeholder="search" />
            <button class="search" type="submit">Search</button>
          </form>
        </div>

        {% comment %}
        <div>
          <nav class="navbar">
            <ul>
              <li><a href="">Home</a></li>
              <li><a href="">About</a></li>
            </ul>
          </nav>
        </div>
        <div class="usernavbar">
          <div>
            <nav class="user">
              <ul>
                <li><a href="">signin</a></li>
                <li><a href="">register</a></li>
              </ul>
            </nav>
          </div>
        </div>
        {% endcomment %}
      </div>
      <div class="content">{% block content %} {% endblock content %}</div>
      <div class="footer">
        <p>Copyright (c) {{current_year}}</p>
      </div>
    </div>

    <script src="" async defer></script>
  </body>
</html>
