{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% comment %}
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/style.css' %}"
    />
    {% endcomment %} {% load static %}
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/index.css' %}"
    />
    <title>Cyber Tool</title>
  </head>
  <body>
    <div class="bodycontent">
      <div class="header">
        <p class="header-title">Quick Cirriculum Vitae</p>
        <div class="navbar">
          <ul class="nobull">
            <li><a href="{% url 'cvcreator' %}">Create New CV</a></li>
            <li><a href="{% url 'listCustomers' %}">Show available Cvs</a></li>
            <li>About CV creator</li>
            <li>Contact US</li>
          </ul>
        </div>
      </div>

      <div class="section">
        {% block content %}
        <form action="" method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <p>{{ form.as_p }}</p>
          <input type="submit" value="Submit" />
        </form>

        {% endblock content %}
      </div>
      <div class="footer">
        <p>
          Copyright 2023
        </p>
      </div>
    </div>
  </body>
</html>
